*{
    margin: 0;
    padding: 0;
}
.headerdiv{
    display: flex;
    height: 8vh;
    /* background-color:rgb(80, 104, 241); */
    background: url("../images/gradient.jfif") no-repeat ;
    background-size: cover;
    /* justify-content: center; */
    align-items: center;
    position: relative;
}
.easy{
    padding-left: 1vw;
    
}
.fontsize{
    font-size: 100%;
    color: white;
}
.textdecoration{
    text-decoration: none;
    color: white;
    padding: 0 1vw;
}
.linkdiv{
    position: absolute;
    right: 0;
}
.textdecoration:hover{
    color: black;
}