.maindiv{
    height: 86vh;
    background: url("../images/gradient.jfif") no-repeat ;
    background-size: cover;
}
.maintext{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: x-large;
    /* background:rgba(0, 0, 0, .5); */
    /* padding-right: 16vw; */
}
.maintext1{
    font-size:xx-large;
    padding:4vh 0 ;
    text-align: center;
    animation: animation 1s linear  1;
}
.maintext2{
    font-size:xx-large;
    padding:8vh 0 ;
    text-align: center;
    animation: animation1 1s linear  1;
}
@keyframes animation {
    0%{
        opacity: 0;
     }    
     100%{
         opacity: 1;
     }
     
}
@keyframes animation1 {
    0%{
       opacity: 0;
    }    
    100%{
        opacity: 1;
    }
    }
