.watchreview{
    min-height: 86vh;
    /* border: 2x solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 218, 218);
}
.reviewbox1{
    display: flex;
    flex-direction:column;
    /* border: 1px solid black; */
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 50px;
}
.minibox{
    /* border: 1px solid red; */
    border-radius: 10px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.63),-3px -3px white;
}